<h1>Recipes Show</h1>

<p>Recipe title: <%= @recipe.title %></p>
<p>Recipe ingredients: <%= @recipe.ingredients %></p>
<p>Recipe directions: <%= @recipe.directions
 %></p>
<p>Recipe prep time: <%= @recipe.friendly_prep_time %></p>